/*@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);*/

* {
  box-sizing: border-box;
  /*border: 1px red dashed;*/
}

body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font: 400 16px/28px "Ubuntu", sans-serif;
  background: #2fe6ce;
}

#headerWrap {
  width: 100%;
  height: 1085px;
  margin-top: -15px;
  background-image: url("../images/staticVideo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align:center;
  text-transform: uppercase;
  color: white;
}

#headerLogo img {
  margin-bottom: 0;
  padding-bottom: 0;
}

#headerWrap h2 {
  padding-top: 0px;
  margin-top: 10px;
  width: 100%;
}

#headerWrap h6 {
  font-size: 12px;
  letter-spacing: 8px;
  margin-top: -20px;
  width: 100%;
}

#headerLogo {
  margin-left:33%;
  margin-right: 33%;
  padding-top: 7%;
  width: 33%;
  font-size: 28px;
  letter-spacing: 15px;
}

#headerWrapContact h1 {
  padding-top: 5%;
  font-size: 80px;
  font-style: bold;
  letter-spacing: 1%;
}

#headerWrapContactText h2 {
  font-size: 31px;
  margin-top: -15px;
}

#headerWrapContactText {
  padding-bottom: 20px;
}

#headerWrapContactForm {
  display: inline-block;
  position: relative;
  padding: 32px 30px 31px;
  margin-top: 32px;
  background: #FFF;
  max-width: 470px;
  width: 100%;
  border-radius: 2px;
}

#headerWrapContactForm .inputFields {
  width: 85%;
  height: 55px;
  margin-bottom: 10px;
  border-width: 0.2px;
  border-color: #c4c2c2;
}

#headerWrapContactForm #name {
  margin-top: 15px;
}

#headerWrapContactForm .inputFields {
  font-size: 20px;
  color: gray;
  padding-left: 15px;
}

#headerWrapContactForm #submit {
  color: white;
  background-color: #2fe6ce;
  font-size: 25px;
  font-family: arial;
  border-collapse: collapse;
  height: 65px;
}

#headerWrapContactForm #submit:hover {
  color: white;
  background-color: #22c6b0;
  font-size: 25px;
  font-family: arial;
}

#fashionWrap {
  width: 100%;
  height: 835px;
  background-color: white;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 25%;
  padding-top: 1%;
  text-align: center;
  vertical-align: top;
}

#fashionWrapHeader {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 45px;
  color: #2f2e2e;
}

#fashionWrapHeader hr {
  width: 115px;
  border: 0;
  border-top: 3px solid #22c6b0;
}

#fashionWrapSubHeader h4 {
  font-size: 16px;
  text-align: center;
  color: #949191;
}

#fashionCards {
  width: 100%;
  margin-top: 8%;
  color: #949191;
  /*display: inline;*/
  display: table;
}

#fashionCards #leftCard {
  float: left;
  width: 30%;
}

#fashionCards #rightCard {
  float: right;
  width: 30%;
}

#fashionCards #centerCard img {
  width: 30%;
}

#centerCard .subCardContent {
  margin-left: 34%;
  margin-right: 34%;
  margin-bottom: 1%;
  padding-bottom: 1%;
}

#fashionCards .subCardContent h2 {
  color: #22c6b0;
  text-transform: uppercase;
}

#fashionCards img {
  width: 100%;
  max-height: 800px;
  z-index 0;
}

#thirdWrap {
  height: 589px;
  background-image: url("../images/thirdWrap.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

#thirdWrapHeader {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 8%;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 45px;
  color: #2f2e2e;
}

#thirdWrapHeader h2 {
  line-height: 20px;
}

#thirdWrapHeader hr {
  padding-top: 25px;
  width: 115px;
  border: 0;
  border-top: 3px solid #22c6b0;
}

#thirdWrapSubHeader h4 {
  font-size: 16px;
  text-align: center;
  color: #949191;
}

#servicesWrap {
  width: 100%;
  height: 456px;
  margin-top: -16px;
  background-color: #f5faff;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
}

#servicesWrap h2 {
  color: black;
  text-transform: uppercase;
}

#servicesWrap img {
  height: 100px;
  /*width: 100px;*/
  opacity: .3;
}

#servicesCards hr {
  width: 65px;
  border: 0;
  border-top: 3px solid #22c6b0;
}

#servicesCards {
  width: 100%;
  padding: 100px 80px 50px 80px;
  color: #949191;
}

#servicesCards #servicesLeftCard {
  float: left;
  width: 33%;
}

#servicesCards #servicesRightCard {
  float: right;
  width: 33%;
}

#servicesCards #servicesCenterCard {
  display: inline;
}

#servicesCenterCard .subCardContent {
  margin-left: 34%;
  margin-right: 34%;
}

#fifthWrap {
  height: 15%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /*display: inline;*/
  text-align: center;
  background-color: white;
}

#fifthWrap img {
  transition: all .2s ease;
  vertical-align: middle;
  display:inline-block;
  overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
  width: 19.7%;
  height: auto;
  padding: 5% 0 2% 0;
  margin: 0 -.05% 0 0;
}

#fifthWrap img:hover {
  /*height: 279px;*/
  /*max-height: 279px;
  max-width: 100%;*/
  transform: scale(1.05);
  transform-style: flat;
  display:inline-block;
  overflow:hidden;
}

#peopleSayWrap {
  height: 650px;
  background-color: #f5faff;
}

#peopleSayWrapHeader {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3%;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 50px;
  color: #2f2e2e;
}

#peopleSayWrap hr {
  width: 120px;
  border: 0;
  border-top: 3px solid #22c6b0;
}

#peopleSayWrapSubHeader img {
  /*width: 50%;*/
  margin: 1% auto;
  display: table;
  text-align: center;
  border-radius: 50%;
}

#peopleSayWrapSubHeader h4 {
  font-size: 16px;
  text-align: center;
  color: #949191;
}

#peopleSayAds {
  width: 100%;
  display: table;
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
}

#peopleSayAds img {
  margin: 6% 2% 2% 8%;
  vertical-align: middle;
  padding-left: 3%;
  width: 20%;
}

#subscribeWrap {
  margin: -1.5% 0 0 0;
  padding-top: 2%;
  padding-bottom: 1%;
  height: 109px;
  background-color: #bcf5e6;
  text-transform: uppercase;
  /*display: inline-block;*/
  text-align: center;
  width: 100%;
}

#subscribeWrap span {
  font-size: 30px;
  letter-spacing: 2px;
  padding: 0 15px 0 0;
}

#subscribeWrap .subscribeInput {
  text-transform: uppercase;
  padding: 15px 5px 15px 5px;
  /*display: table-row;*/
}

#subscribeWrap #subscribeText{
  color: gray;
  margin-right: .5%;
  padding-left: 1%;
  width: 430px;
  letter-spacing: 2px;
  font-size: 20px;
}

#subscribeWrap #subscribeSubmit {
  color: white;
  background-color: #2fe6ce;
  border-width: 0;
  width: 150px;
  font-size: 18px;
  padding: 1% .5% 1% .5%;
}

#subscribeWrap #subscribeSubmit:hover {
  background-color: #22c6b0;
}


#footerWrap {
  height: 430px;
  text-align: center;
  color: white;
}

#footerWrapHeader {
  text-transform: uppercase;
  letter-spacing: 1px;
}

#footerWrapHeader h1 {
  font-size: 70px;
}

#footerWrap hr {
  margin-top: 6%;
  margin-bottom: 3%;
  width: 120px;
  border: 0;
  border-top: 3px solid white;
}

#footerWrap h2{
  margin-bottom: 4%;
}

#footerWrap button {
  color: white;
  background-color: #2fe6ce;
  border-color: white;
  border: solid;
  border-width: 2px;
  width: 28%;
  font-size: 20px;
  padding: 1% .5% 1% .5%;
  text-transform: uppercase;
}

#footerWrap button:hover {
  background-color: white;
  color: #2fe6ce;
}
#footerWrap h6{
  padding-top: 2%;
  letter-spacing: 1px;
}
